@model IEnumerable<Desafio2.Models.ItemPedido>

@{
    ViewBag.Title = "Items de pedido: " + ViewBag.PedidoId;
}

<h2>Items para pedido: @ViewBag.PedidoId</h2>

<p>
    @Html.ActionLink("Nuevo Item", "Create",  new { pedidoId = ViewBag.PedidoId }, new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pedido.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            @using (Html.BeginForm("Delete", "ItemPedidoes", new { id = item.Id }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" class="btn btn-default" />
            }


        </td>
    </tr>
}

</table>
